@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap");

* {
	font-family: "Rubik", sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 2%;
}

.logo {
	width: 200px;
	height: 50px;
	margin: 1.5%;
}

.card {
	background-color: white;
	width: 70%;
	height: 470px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}

.content {
	margin-top: 10px;
	text-align: center;
	background: none;
	margin-bottom: 20px;
}

.content .h2 {
	color: #119744;
	margin-top: 3px;
	font-size: 30px;
	font-weight: 500;
	background: none;
}
.h2 h2 {
	background: none;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: -0.3px;
	text-transform: capitalize;
	font-weight: 500;
}

.content p {
	margin-top: 5px;
	font-size: 16px;
	background: none;
	color: #555555;
}

.row {
	display: flex;
	align-items: center;
	flex-direction: row;
	background: none;
	justify-content: space-between;
}

.icons {
	width: 45%;
	background: none;
	flex-direction: column;
	margin-right: 15px;
}

.socialBox {
	background: none;
	height: 50px;
	width: 95%;
	border-radius: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
	color: white;
}

.socialIcon {
	background: none;
	font-size: 20px;
	margin-right: 10px;
	text-align: center;
}

.socialBox#fb {
	background-color: #3b5998;
}

.socialBox#tw {
	background-color: #00acee;
}

.socialBox#gl {
	background-color: #e60023;
}

.socialBox#ig {
	background-color: #f77737;
}

.socialBox p {
	background: none;
	color: white;
	font-variant: normal;
	font-size: 17px;
	text-transform: lowercase;
}

.verticalLine-register {
	width: 2px;
	height: 90%;
	background-color: #e8e8e8;
	margin-top: 5px;
	margin-left: 2%;
	margin-right: 3%;
	display: flex;
	flex-direction: column;
}

.form {
	width: 45%;
	padding: 20px;
	background: none;
}

form {
	display: flex;
	flex-direction: column;
	background: none;
}

input {
	margin-bottom: 20px;
	padding: 13px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.terms {
	background: none;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 15px;
}

button {
	background-color: #119744;
	color: white;
	padding: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
}

/* Style the checkbox */
input[type="checkbox"] {
	margin-right: 10px;
	height: 15px;
	width: 15px;
	margin-left: 3px;
}
.form label {
	background: none;
	margin-bottom: 20px;
	color: #555555;
}
.terms a {
	background: none;
	color: #00acee;
}
.card-bottom {
	background-color: white;
	width: 70%;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 1.5%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5%;
}
.card-bottom .content {
	background: none;
	margin: 5px;
}
.card-bottom .content p {
	text-align: center;
	background: none;
	font-size: 17px;
}
.card-bottom .content span {
	background: none;
	color: #119744;
}
.footer {
	margin-bottom: 15px;
}
.footer p {
	color: #555555;
}
.footer p span {
	color: #119744;
}
@media (max-width: 850px) {
	.card {
		height: 100%;
		width: 80%;
		margin-bottom: 5%;
	}

	.row {
		flex-direction: column;
		position: relative;
	}

	.icons {
		width: 100%;
	}

	.verticalLine-register {
		width: 90%;
		height: 1px;
		background-color: #ccc;
		position: absolute;
		top: 42%;
		transform: translateY(-50%);
		margin-top: 5px;
	}

	.form {
		width: 100%;
		margin-top: 10px;
	}
	.card-bottom {
		background-color: white;
		width: 80%;
		height: 30px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 20px;
		margin-top: 1.5%;
		display: flex;
		flex-direction: column;
		margin-bottom: 5%;
	}
	.card-bottom .content p {
		font-size: 15px;
		text-align: center;
		margin: 1px;
	}
	.footer {
		margin-bottom: 5%;
	}
	.circle-register {
		display: none;
	}
}

.circle-register {
	width: 40px;
	height: 40px;
	transform: translate(-50%, 400%);
	border-radius: 50%;
	background-color: #e8e8e8;
	font-style: italic;
}
.circle-register p {
	text-align: center;
	background: none;
	margin-top: 7.5px;
	font-size: 17px;
	color: #555555;
}
