.card-resetPassword {
	background-color: white;
	width: 490px;
	height: 250px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 760px) {
	.card-resetPassword {
		height: 100%;
		width: 80%;
		margin-bottom: 5%;
	}
	.form-changePassword {
		width: 90%;
		margin-top: 0px;
	}
	#p {
		font-size: 15.5px;
		margin-top: 15px;
	}
}
